{% load static %}
<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
</head>

<body>
  <header>
    <!-- my-5 class adds a margin of 3rem to the top and bottom of element -->
    <!-- <div class="nav-left">
      <h1 class="my-5"><a href="{% url 'home' %}">To Do List</a></h1>
    </div> -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
      <div class="container-fluid  my-4 mx-4">
        <a class="navbar-brand fs-1" href="{% url 'home' %}">My To Do</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link fs-3 text-danger-emphasis" href="{% url 'todo_new' %}">New Todo</a>
            <!-- <a class="nav-link" href="#">Pricing</a> -->
          </div>
          <!-- Dropdown list for status -->
          <div class="dropdown">
            <button id="displayByStatus" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Status
            </button>
            <ul class="dropdown-menu" aria-labelledby="displayByStatus">
              <li><a class="dropdown-item" href="#">All statuses</a></li>
              <li><a class="dropdown-item" href="#">Not started</a></li>
              <li><a class="dropdown-item" href="#">In progress</a></li>
              <li><a class="dropdown-item" href="#">Completed</a></li>

            </ul>

          </div>
          <!-- Dropdown list for sortin by due -->
          <div class="dropdown">
            <button id="sortByDue" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortByDue">
              <li><a class="dropdown-item" href="">Sort by Due</a></li>
              <li><a class="dropdown-item" href="">Back to original</a></li>

            </ul>

          </div>
          <!-- </div> -->
        </div>
    </nav>

  </header>
  <div>
    <!-- Content will be embeded into the below block content bracket -->
    {% block content %}
    {% endblock content %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% csrf_token %}
  <script>


    //Actions from browser
    $(document).ready(function () {
      console.log("clicked");
      console.log("clicked");

      // Sort by due 
      $('.dropdown-menu .dropdown-item:first-child').off('click').click(function (event) {
        event.preventDefault();//if no this writing, output of console.log disappear 

        $.ajax({
          url: '{% url "home" %}',
          type: 'GET',
          data: { 'sort': 'due' },
          success: function (data) {
            if (data['success']) {



              const todos = JSON.parse(data.todos);
              console.log(todos);
              // const sortedTodos = todos.sort((a, b) => new Date(a.fields.due) - new Date(b.fields.due)); //client側で並べ替えるすべ!!

              // var todos = JSON.parse('{{ object_list|safe }}');
              // console.log(todos);
              var formHtml = '<h1 class="my-5 text-primary">List</h1>';

              for (var i = 0; i < todos.length; i++) {
                var todo = todos[i];
                formHtml += '<div class="card mb-3">' +
                  '<div class="card-body">' +
                  '<div class="row row-Show">' +
                  '<div class="col-sm-4">' +
                  '<h5 class="card-title todo-body"><a href="">' + todo.fields.body + '</a></h5>' +
                  '</div>' +
                  '<div class="col-sm-2">' +
                  '<p class="card-text todo-status">' + todo.fields.status + '</p>' +
                  '</div>' +
                  '<div class="col-sm-2">' +
                  '<p class="\'card-text\'"><small class="text-muted todo-due">Due:' + new Date(todo.fields.due).toISOString().slice(0, 10) + '</small></p>' +
                  '</div>' +
                  '<div class="col-sm-2">' +
                  '<a class="btn btn-primary edit-todo" data-todo-id="' + todo.pk + '" data-todo-status="' + todo.fields.status +
                  '"data-todo-due="' + new Date(todo.fields.due).toISOString().slice(0, 10) + '" href="#" role="button">Edit</a>' +
                  '</div>' +
                  '<div class="col-sm-2">' +
                  '<a class="btn btn-danger delete-todo" data-todo-id="' + todo.pk + '" href="#">Delete</a>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
              }

              var container = document.querySelector('.container');
              // container.innerHTML = formHtml;
              while (container.firstChild) {
                container.removeChild(container.firstChild);
              }
              $('.container').append(formHtml);












            }
            else {
              console.log('seemes to be failed');
              console.log(data);
            }
          }
        });


      });




      // fclick envet listener to all delete lins. When a user clicks the link, we prevent the default behavior of the link 
      // $('.delete-todo').click(function (event) {
      $(document).on('click', '.delete-todo', function (event) {

        console.log("deleteclicked");

        event.preventDefault();
        //  get the todo_id from the data-todo-id attribute.
        var todoId = $(this).data('todo-id');
        console.log(this);
        console.log(todoId);
        // send an AJAX POST request to the server with the todo_id data. 
        $.ajax({
          url: '/delete-todo/',
          method: 'POST',
          data: { todo_id: todoId },
          // On success, we check if the server returned a success key with a value of true.If it did, we find the closest .card element with the data-todo-id attribute equal to todoId and remove it from the DOM.
          success: function (data) {
            //after http request return as success?
            if (data['success']) {
              $('[data-todo-id=' + todoId + ']').closest('.card').remove();
              // console.log(data);
            }
          }
        })

      });
      ///here we will have click event of edit to prepare textbox
      // $(".edit-todo").click(function (event) {
      //   event.preventDefault();
      //   var todoId = $(this).data("todo-id");
      //   var todoDue = $(this).siblings(".todo-due").text();

      //   $(this).siblings(".todo-due").hide();
      //   console.log(this);
      //   console.log(todoId);
      //   console.log(todoDue);

      // })

      //Action after pushing edit button 
      // $(".edit-todo").click(function (event) {
      $(document).on('click', '.edit-todo', function (event) {

        console.log("clicked");
        console.log("clicked");
        console.log("clicked");
        event.preventDefault();
        var todoId = $(this).data("todo-id");
        var todoBody = $(this).parent().prev().prev().prev().find(".todo-body").text();
        // var todoDue = $(event.currentTarget).data("todo-due");
        var todoDue = event.currentTarget.getAttribute("data-todo-due");
        var todoDueDate = new Date(todoDue);

        var year = todoDueDate.getFullYear();
        var month = todoDueDate.getMonth() + 1 < 10 ? '0' + (todoDueDate.getMonth() + 1) : todoDueDate.getMonth() + 1;
        var day = todoDueDate.getDate() < 10 ? '0' + todoDueDate.getDate() : todoDueDate.getDate();
        todoDue = year + '-' + month + '-' + day;

        var todoStatus = event.currentTarget.getAttribute("data-todo-status");



        // $(this).parent().prev().prev().find(".todo-body").hide();
        // $(this).parent().prev().find(".todo-due").hide();
        $(this).parent().parent().hide();


        console.log(event.currentTarget);
        console.log(todoDue);
        console.log(todoBody);
        //Form for editing , later I need to put 'for' to label
        // var formHtml = '<input type="text" class="form-control todo-body-edit" value="' + todoBody + '">' +
        //   '<label for="">Due: </label>' + '<input type="text" class="form-control todo-due-edit" value="' + todoDue + '">' +
        //   '<button class="btn btn-success save-todo" data-todo-id="' + todoId + '">Save</button>' +
        //   '<button class="btn btn-secondary cancel-todo">Cancel</button>';

        var formHtml = '<div class="row row-Hide">' +
          '<div class="col-sm-4">' +
          '<input type="text" class="form-control todo-body-edit" value="' + todoBody + '" style="width: 80%">' +
          '</div>' +
          '<div class="col-sm-2">' +
          // using ternary operator
          '<select class="form-control todo-status-edit" style="width: 80%">' +
          '<option value="not-started" ' + (todoStatus === 'not-started' ? 'selected' : '') + '>Not started</option>' +
          '<option value="in-progress" ' + (todoStatus === 'in-progress' ? 'selected' : '') + '>In progress</option>' +
          '<option value="completed" ' + (todoStatus === 'completed' ? 'selected' : '') + '>Completed</option>' +
          '</select>' +
          '</div>' +
          '<div class="col-sm-2">' +
          '<input type="text" class="form-control todo-due-edit" value="' + todoDue + '" style="width: 80%">' +
          '</div>' +
          '<div class="col-sm-2">' +
          '<button class="btn btn-success save-todo" data-todo-id="' + todoId + '">Save</button>' +
          '</div>' +
          '<div class="col-sm-2">' +
          '<button class="btn btn-secondary cancel-todo">Cancel</button>' +
          '</div>' +
          '</div>';



        $(this).parent().parent().parent().append(formHtml);

        //Action after pushing save button in the Edit form
        $(".save-todo").click(function (event) {
          event.preventDefault;
          console.log('found it');
          var $saveBtn = $(this);
          var todoBodyEdit = $saveBtn.parent().prev().prev().prev().find(".todo-body-edit").val();
          var todoStatusEdit = $saveBtn.parent().prev().prev().find(".todo-status-edit").val();
          var todoDueEdit = $saveBtn.parent().prev().find(".todo-due-edit").val();
          var csrfToken = $("input[name='csrfmiddlewaretoken']").val();

          console.log(todoBodyEdit);
          console.log(todoDueEdit);
          console.log(csrfToken);
          console.log($(this).parent().parent().parent().find(".todo-body").text());
          $.ajax({
            url: '/edit-todo/',
            method: 'POST',
            headers: {
              'X-CSRFToken': csrfToken
            },
            //it seems to be possible to put key name as you like
            data: {
              // todo_id necessary? depend on what process we do at view?
              todo_id: todoId,
              todo_body: todoBodyEdit,
              todo_status: todoStatusEdit,
              todo_due: todoDueEdit
            },
            //Have to adjust content!!!!!!!!!!
            success: function (data) {
              if (data['success']) {
                console.log('Imhere');

                $saveBtn.parent().parent().parent().find(".todo-body a").text(todoBodyEdit);
                $saveBtn.parent().parent().parent().find(".todo-status").text(todoStatusEdit);
                $saveBtn.parent().parent().parent().find(".todo-due").text("Due:" + todoDueEdit);
                // $(this).parent().parent().parent().find(".row-Hide").hide();
                // console.log(this);
                var $editTodoBtn = $saveBtn.parent().parent().parent().find(".edit-todo");
                $editTodoBtn.attr("data-todo-due", todoDueEdit);
                $editTodoBtn.attr("data-todo-status", todoStatusEdit);

                $saveBtn.parent().parent().parent().find(".row-Show").show();
                $saveBtn.parent().parent().parent().find(".row-Hide").remove();
              }
            }
          })

        })
        //Cancel btn function>>Hide edi
        $(".cancel-todo").click(function (event) {
          event.preventDefault;
          var $cancelBtn = $(this);
          console.log(this);
          $cancelBtn.parent().parent().parent().find(".row-Show").show();
          $cancelBtn.parent().parent().parent().find(".row-Hide").remove();


        })



      });




    });
  </script>

</body>

</html>